* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f5f2ea;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  cursor: default;
}

input:not(input[type=text]) {
  cursor: pointer;
}

.header {
  display: inline-block;
  margin: 30px;
  font-family: 'Kanit', sans-serif;
  line-height: 100%;
  border-bottom: 5px dotted #000;
  user-select: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  min-width: 320px;
  max-width: 500px;
  min-height: 700px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 200;
  padding: 5px 0 10px;
}

.adjustment {
  margin-bottom: 20px;
}

input[type=text] {
  border: 0.5px solid #000;
  box-shadow: 1px #000;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 0.3rem;
  font-family: 'Work Sans', sans-serif;
}

input[type=text]:focus {
  outline-color:  #fdc886;
}

.colors {
  display: flex;
  justify-content: space-around;
}

.colors .adjustment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors .adjustment input {
  height: 50px;
}

.slider input{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-color: #dfddd9;
}

.slider input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fdc886;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.slider input::-webkit-slider-thumb:hover {
  filter: brightness(90%);
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  justify-content: space-between;
}

fieldset div {
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
}

fieldset div input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #fdc886;
  background-color: #ffffff;
  border-radius: 50%;
  accent-color: #fdc886;
  color: #fdc886;
  outline: none;
}

fieldset div input:focus {
  outline: none;
  border: 2px solid #dea764;
  background-color: #dea764;
}

fieldset div input:checked {
  background-color: #fdc886;
}

fieldset div label {
  cursor: pointer;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #fdc886;
  color: #000;
  font-size: 1.2rem;
  margin: 30px auto 0;
  transition: transform 0.05s;
  user-select: none;
}

.btn:active {
  transform: translateY(2.5px);
}

.disabled {
  color: #dea764;
  cursor: not-allowed;
}

.disabled:active {
  transform: translate(0);
}

#qr-code-result .title {
  margin: 20px 50px 30px;
}

#qr-image {
  width: 300px;
  height: 300px;
}

#qr-code-result .btn {
  display: flex;
  align-items: center;
}

#qr-code-result .subtitle {
  margin: 100px 0 -30px;
}

.download-img {
  width: 40px;
}

@media screen and (max-width: 475px) {
  #btn {
    margin-bottom: 50px;
  }
}



